<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a4ita.adeva.adverbproject">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".TestActivity"
            android:label="Test Activity Page"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".AddAdverbsActivity"
            android:label="Add Adverbs Page"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>